<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.seekika.android.app"
      android:versionCode="1"
      android:versionName="1.0">
<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Seekika"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- About -->
		<activity android:name=".About" android:label="@string/seekika_about">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>
		
		<!-- Login -->
		<activity android:name=".Login" android:label="@string/seekika_login">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>
		
		<!-- Signup -->
		<activity android:name=".Signup" android:label="@string/seekika_signup">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>
		
		<!-- Settings -->
		<activity android:name=".Settings" android:label="@string/app_settings">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>
		
		
		<!-- Gallery -->
		<activity android:name=".Gallery" android:label="@string/seekika_login">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
		</activity>

    </application>
</manifest>